.container{
  max-width: 600px;
}
h1{
  color: lightslategrey;
}
label{
  color: lightslategrey;
  letter-spacing: 1.2px;
}
.button{
  display: flex;
  justify-content: space-between;
}
.button button{
  width: 47%;
}
