<div class="container">
  <div class="card">
    <form [formGroup]="loginForm" (submit)="login()" class="card-body">
      <h1 class="card-title">LogIn Profile</h1>
      <hr>
      <label for="email">Email</label>
      <input formControlName="email" type="text" id="email" class="form-control">
      <br>
      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password" class="form-control">
      <br>
      <div class="button">
        <button type="submit" class="btn btn-success">LogIn</button>
        <button class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>
