

<div *ngIf="institution">
  <div class="container">
    <div class="card">
      <div class="card-body" >
        <h5 class="card-title">{{institution?.name}}</h5>
        <div><strong>ID:</strong>{{institution?.id}}</div>
        <div><strong>Pid:</strong>{{institution?.pid}}</div>
        <div><strong>Number:</strong>{{institution?.number}}</div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Edit Institution</button>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">Create Branch</button>
      </div>
    </div>
  </div>
  
  
  <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 align="center" class="card-title">Edit Item</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <form #edit="ngForm" (ngSubmit)="updateDetails(edit.value)" class="card-body" >
  
              <label>Institution Number:</label>
              <em>Required</em>
              <input [(ngModel)]="institution.number" name="number" required type="text" class="form-control"/>
              <br>
  
              <label>Institution Name:</label>
              <em>Required</em>
              <input [(ngModel)]="institution.name" name="name" required  type="text" class="form-control"/>
              <br>
  
              <label>Institution Pid:</label>
              <em>Required</em>
              <input [(ngModel)]="institution.pid" name="pid" required  type="text" class="form-control"/>
  
              <br>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 align="center" class="card-title">add Item</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <form #createForm="ngForm" (ngSubmit)="createBranch(createForm.value)" class="card-body">
              <h1 align="center" class="card-title">Branches</h1>
              <hr>
  
              <label for="address">Address:</label>
              <em>Required</em>
              <input ngModel name="address" required id="address" type="text" class="form-control"/>
              <br>
  
              <label for="manager_name">Manager Name:</label>
              <em>Required</em>
              <input ngModel name="manager_name" required id="manager_name" type="text" class="form-control"/>
              <br>
  
  
              <div class="button">
                <button type="submit" class="btn btn-success">Create</button>
                <a class="btn btn-danger">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h1>Branches</h1>
    
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Address</th>
            <th scope="col">Manager Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branch of institution.branches">
            <td>{{branch.address}}</td>
            <td>{{branch.manager_name}}</td>
            <td><a [routerLink]="['/institutions/', institution.id, branch.id]" class="btn btn-primary">See Detail</a></td>
          </tr>
        </tbody>
      </table>

</div>
